#heading{
    text-align: center;
    font-size: 50px;
    font-style: oblique;

}
.chooseLanguage{
    position: absolute;
    left:80px;
    top:70px;
}
.question{

    height: 100%;
}


#topheader{
    position: absolute;
    left:300px;
    top:10px;

}

#smallHeader{
    position: absolute;
    top:100px;
    width: 100%;
    height: 100%;
    
}

#inputBox{
         
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:730px;

}
#resultBox{
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:830px;

}
#detailBox{
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:950px;

}

#editor { 
    position: absolute;
   left: 80px;
   top:100px;
    width: 600px;
    height: 600px;
}


#submit{
    position: absolute;
    left:610px;
      top:700px;
    }

 #result{
     font-size: larger;
     font-family: cursive;

 }   